fail_fast: true
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.0
    hooks:
    - id: ruff
      args: [ --fix, --config, pyproject.toml ]
    - id: ruff-format
      args: [ --config, pyproject.toml ]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
    - id: mypy
      args: [ --config-file=pyproject.toml ]
